.container{
width : 70%;
float : left;
padding : 0 0 0 30px;
background : green;
height : 100%
}

.sidebar{
width : 30%;
float : right;
padding : 10px;
background : orange;
}

h1{
text-align : center;
border-bottom : 1px solid #bbb;
padding-bottom : 10px;
}

#date{
color:yellow;
}

a{
color:yellow;
}
#ch{
font-size:20px;
color:blue;
border-bottom:red solid 1px;
}

#tag{
color:pink;
}

#pcount{
    font-size: 40px;
    color:yellow;
    font-width: bold;
}