<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_block %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog6.css'%}">
</head>
<body>
<div class="container">
    {% block container %}

    {% endblock %}

</div>
<div class="sidebar">
    <h2>
        RAJA'S BLOG
    </h2>
    <p> The total number of published posts upto today: <span id="pcount">{% my_tag %} </span> </p>
    <h3>Latest Posts : </h3>{% show_latest_posts 4%}
    <h3>Most Commented Posts :</h3>
    {% get_most_commented_posts as most_commented_post %}
    <ul>
        {% for post in most_commented_post %}
        <li><a href="{{ post.get_absolute_url }}"> {{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

</body>
</html>